Repository kacpersmal/make-your-pins, changes with the labels that .github/labeler.yml gives for each.
All labels: client app, pins api, thumbnail generator, infrastructure, documentation, dependencies

create api client and demo for using it
  .github/workflows/deploy-client.yml
  services/client-app/.env.example
  services/client-app/package-lock.json
  services/client-app/package.json
  services/client-app/src/components/error-boundary.tsx
  services/client-app/src/hooks/use-assets.ts
  services/client-app/src/hooks/use-upload.ts
  services/client-app/src/lib/api-client.ts
  services/client-app/src/routeTree.gen.ts
  services/client-app/src/routes/demo.api.tsx
  services/client-app/src/services/asset-service.ts
  services/client-app/src/services/file-service.ts
  services/client-app/types/asset-types.ts
  services/client-app/types/file-types.ts
Labels: client app, infrastructure, dependencies

[Improvements] [PC-23] [PC-25] [PC-15] API Client Tanstack Query #13
  .github/workflows/deploy-client.yml
  services/client-app/.env.example
  services/client-app/package-lock.json
  services/client-app/package.json
  services/client-app/src/components/error-boundary.tsx
  services/client-app/src/hooks/use-assets.ts
  services/client-app/src/hooks/use-upload.ts
  services/client-app/src/lib/api-client.ts
  services/client-app/src/routeTree.gen.ts
  services/client-app/src/routes/demo.api.tsx
  services/client-app/src/services/asset-service.ts
  services/client-app/src/services/file-service.ts
  services/client-app/types/asset-types.ts
  services/client-app/types/file-types.ts
Labels: client app, infrastructure, dependencies

implement monitoring
  services/pins-api/package-lock.json
  services/pins-api/package.json
  services/pins-api/src/app.module.ts
  services/pins-api/src/main.ts
  services/pins-api/src/shared/filters/global-exception.filter.ts
  services/pins-api/src/shared/health.controller.ts
  services/pins-api/src/shared/middlewares/request-metrics.middleware.ts
  services/pins-api/src/shared/middlewares/tracing.middleware.ts
  services/pins-api/src/shared/services/cloud-logger.service.ts
  services/pins-api/src/shared/services/monitoring.service.ts
  services/pins-api/src/shared/services/tracing.service.ts
  services/pins-api/src/shared/shared.module.ts
Labels: pins api, dependencies

[Feature][PC-20] Asset Upload Form [W.I.P]
  services/client-app/src/components/nav-projects.tsx
  services/client-app/src/components/ui/textarea.tsx
  services/client-app/src/components/uploadProcess/upload-form.tsx
  services/client-app/src/components/uploadProcess/upload-modal.tsx
Labels: client app

fix build time errors
  services/client-app/src/components/error-boundary.tsx
  services/client-app/src/hooks/use-assets.ts
  services/client-app/src/lib/api-client.ts
  services/client-app/src/routes/demo.api.tsx
  services/client-app/src/services/asset-service.ts
  services/client-app/src/services/file-service.ts
Labels: client app

fir branch names in pipeline
  .github/workflows/client-app-build.yml
  .github/workflows/generator-build.yml
  .github/workflows/labeler.yml
  .github/workflows/pins-api-build.yml
Labels: infrastructure

fix
  services/client-app/src/lib/api-client.ts
  services/client-app/src/routes/demo.api.tsx
Labels: client app

.github/labeler.yml:

# Add 'client app' label to any changes in the client-app directory
"client app":
  - "services/client-app/**/*"

# Add 'pins api' label to any changes in the pins-api directory
"pins api":
  - "services/pins-api/**/*"

# Add 'thumbnail generator' label to any changes in the thumbnail-generator directory
"thumbnail generator":
  - "services/thumbnail-generator/**/*"

# Add 'infrastructure' label to any changes in terraform or infrastructure related files
"infrastructure":
  - "terraform/**/*"
  - ".github/workflows/**/*"

# Add 'documentation' label to any changes to documentation files
"documentation":
  - "**/*.md"
  - "**/docs/**/*"

# Add 'dependencies' label to any changes to package files
"dependencies":
  - "**/package.json"
  - "**/package-lock.json"
  - "**/yarn.lock"
